# ======================================
# Project: abelisle-mulesoft
# ======================================

# --------------------------------------
# macOS
# --------------------------------------
.DS_Store

# --------------------------------------
# Editors / IDEs
# --------------------------------------
.vscode/
.idea/

# --------------------------------------
# Temporary / Backup Files
# --------------------------------------
*.tmp
*.bak
*.swp
*.swo
*~
